<html lang="en" class="overflow-x-hidden">
<%- include("../partials/header.ejs") %>

<body class="bg-light-off text-gray-700 font-body font-semibold">

    <%- include("../partials/nav.ejs") %>

    <div class="p-10">

        <div class="flex justify-between items-center">
            <div>
                <span>Total Watched Dramas: </span>   
                <span class="font-semibold text-2xl text-red-700"><%= dramaList.length %></span>
            </div>
            <!-- Search Bar -->
            <%- include("../partials/searchBar.ejs") %> 
        </div> 

        <!-- Card Deck -->
        <%- include("../partials/cardDeck.ejs") %>
    </div>
    <!-- Footer -->
    <%- include("../partials/footer.ejs") %>

    <!-- NavScript -->
    <%- include("../partials/navScript.ejs") %>

</body>
</html>